plugged
# ignore all hidden files and .* files
.idea
!.gitignore

#ignore files
*.iml
*.ipr
*.iws
*.log
*.log.*
*.dat
*.pyc
*.ctrl
*.jar
*.war
*.ear
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat
package.json
package-lock.json
# nvim-pack-lock.json # to be a part of git repo for vim.pack() nvim

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml

# ignore dump
hs_err_pid*

#ignore folders
node_modules
bin
out
build
*/lib
target
.vscode
